<div class="col-md-3">

	<a href="#">
		<strong><i class="fa fa-th-list"></i> Menu</strong>
	</a>

	<hr>

	<ul class="list-unstyled">
		<li class="nav-header">
			<a href="#">
				<h5>Chamados</h5>
			</a>
		</li>

		<li class="nav-header">
			<a href="#">
				<h5>Mensagens</h5>
			</a>
		</li>

		<li class="nav-header">
			<a href="#" data-toggle="collapse" data-target="#menu1">
				<h5>Relatórios</h5>
			</a>

			<ul class="list-unstyled collapse" id="menu1">
				<li>
					<i class="fa fa-calendar"></i> <a href="#">Relatório Mensal</a>
				</li>
				<li>
					<i class="fa fa-thumbs-up"></i> <a href="#">Produtividade</a>
				</li>
				<li>
					<i class="fa fa-tasks"></i> <a href="#">Indicadores</a>
				</li>
			</ul>
		</li>

		<li class="nav-header">
			<a href="#" data-toggle="collapse" data-target="#menu2">
				<h5>Administrativo</i></h5>
			</a>

			<ul class="list-unstyled collapse" id="menu2">
				<li>
					<i class="fa fa-inbox"></i> <a href="#">Banco de Horas</a>
				</li>
				<li>
					<i class="fa fa-money"></i> <a href="#">Contracheque</a>
				</li>
				<li>
					<i class="fa fa-list"></i> <a href="#">Folha de Ponto</a>
				</li>
			</ul>
		</li>

	</ul>

	<hr>

</div>

<div class="col-md-9">

	<a href="#">
		<strong><i class="fa fa-dashboard"></i> Dashboard</strong>
	</a>

	<hr>

	<div class="row">
		<div class="col-md-6">

			<!-- <div class="well"><h4>Caixa de Entrada <span class="badge pull-right">2</span></h4></div>

			<hr> -->

			<!-- <div class="btn-group btn-group-justified">
				<a href="/chamados/novo" class="btn btn-primary col-sm-3">
					<i class="fa fa-plus"></i><br>
					Chamado
				</a>
				<a href="#" class="btn btn-primary col-sm-3">
					<i class="fa fa-cloud"></i><br>
					KB
				</a>
				<a href="#" class="btn btn-primary col-sm-3">
					<i class="fa fa-cog"></i><br>
					Ferramentas
				</a>
				<a href="#" class="btn btn-primary col-sm-3">
					<i class="fa fa-question"></i><br>
					Ajuda
				</a>
			</div>

			<hr> -->

			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">
						<i class="fa fa-bullhorn pull-right"></i>
						<h4>Mural</h4>
					</div>
				</div>
				<div class="panel-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, illo odio, consectetur nulla laudantium delectus accusamus. Blanditiis aperiam possimus commodi obcaecati, eaque perferendis maiores, sit eum quia consectetur, alias numquam.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi deserunt cumque repudiandae molestiae nostrum quos amet illum enim. Eos voluptas quas suscipit tempora est, beatae id et sequi quaerat sit!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse voluptatibus non error hic totam laboriosam tempora modi quam quia quidem deserunt sapiente, iste, ullam, blanditiis itaque eveniet tenetur quos in.</p>
				</div>
			</div>

			<hr>

			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">
						<i class="fa fa-bar-chart-o pull-right"></i>
						<h4>Análise de Desempenho</h4>
					</div>
				</div>
				<div class="panel-body">
					<small>Solucionado</small>
					<div class="progress">
						<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100" style="width: 72%">
							<span class="sr-only">72% Complete</span>
						</div>
					</div>
					<small>Repassado</small>
					<div class="progress">
						<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
							<span class="sr-only">20% Complete</span>
						</div>
					</div>
					<small>Aguardando</small>
					<div class="progress">
						<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
							<span class="sr-only">60% Complete (warning)</span>
						</div>
					</div>
					<small>Cancelado</small>
					<div class="progress">
						<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
							<span class="sr-only">20% Complete</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-6">

			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">
						<i class="fa fa-calendar-o pull-right"></i>
						<h4>Plantões de Agosto</h4>
					</div>
				</div>
				<div class="panel-body">
					<table class="table table-condensed table-bordered">
						<thead>
							<tr>
								<th>Data</th>
								<th>Interno</th>
								<th>Externo</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>02/08</td>
								<td>Rodrigo</td>
								<td>Lucas, Marcelo.</td>
							</tr>
							<tr>
								<td>09/08</td>
								<td>Thiago</td>
								<td>Maurício, Robson.</td>
							</tr>
							<tr>
								<td>16/08</td>
								<td>Vitor</td>
								<td>Max, Welmar.</td>
							</tr>
							<tr>
								<td>23/08</td>
								<td>Matheus</td>
								<td>Diego, Marco.</td>
							</tr>
							<tr>
								<td>30/08</td>
								<td>Rodrigo</td>
								<td>Lucas, Marcelo.</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<hr>

			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">
						<i class="fa fa-gift pull-right"></i>
						<h4>Aniversariantes de Agosto</h4>
					</div>
				</div>
				<div class="panel-body">
					<table class="table table-condensed table-bordered">
						<thead>
							<tr>
								<th>Data</th>
								<th>Colaborador</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>01/08</td>
								<td>Clesle</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<hr>

			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">
						<i class="fa fa-ambulance pull-right"></i>
						<h4>Solicitação de Folga</h4>
					</div>
				</div>
				<div class="panel-body">
					<form class="form form-vertical">
						<div class="control-group">
							<label>Data</label>
							<div class="controls">
								<input id="teste" type="text" class="form-control">
							</div>
						</div>
						<div class="control-group">
							<label>Observação</label>
							<div class="controls">
								<textarea class="form-control"></textarea>
							</div>
						</div>
						<div class="control-group">
							<label></label>
							<div class="controls">
								<button type="submit" class="btn btn-primary">
									Enviar
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<footer class="text-center">Copyright © 2014 <a href="http://www.tetrasolucoes.com.br"><strong>Tetra Soluções Empresariais</strong></a></footer>